/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

body {
  margin: 0 !important;
  font-family: Lato, "Helvetica Neue", sans-serif;
}

p-toolbar {
  .p-toolbar {
    padding: 0.7rem;
  }
}

.p-button:disabled {
  opacity: 0.3 !important;
}
