@import '../../../../variables';

svg {
    max-height: 100%;
    max-width: 100%;
    .p0 {
        fill: $color-logo-fill;
    }
    .p1 {
        fill: darken($color-logo-fill, 20);
    }
    .p2 {
        fill: white;
    }
}
