p-tabView {
  bottom: 3rem;

  .p-tabview {
    border-radius: 1rem;
  }

  .p-tabview-nav-content {
    border-radius: 1rem;
  }
}

p-toolbar {
  .p-toolbar {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}
