<p-toast position="top-right"></p-toast>
<p-toolbar class="main-toolbar">
  <div class="p-toolbar-group-left">
    <app-logo [width]="'40'"></app-logo>
    <div class="ml-3">{{'App.Title' | translate}}</div>
  </div>

  <div class="p-toolbar-group-right">
    <p-menu #menu [popup]="true" [model]="items"></p-menu>
    <button type="button" class="p-button-outlined toolbar-button" pButton icon="pi pi-bars"
            (click)="menu.toggle($event)"></button>
  </div>
</p-toolbar>
<p-tabView (activeIndexChange)="this.fetchData()">
  <p-tabPanel header="{{'Home.Subscriber' | translate}}">
    <app-subscribers [subscribers]="subscriber"></app-subscribers>
  </p-tabPanel>
  <p-tabPanel header="{{'Home.AppIdentifier' | translate}}">
    <app-app-identifiers
      [appIdentifiers]="appIdentifier"
      (deleteAppIdentifier)="handleDeleteAppIdentifier($event)"
      (appIdentifierSaved)="handleAppIdentifierSaved()"
    ></app-app-identifiers>
  </p-tabPanel>
  <p-tabPanel header="{{'Home.Notifications' | translate}}">
    <app-notifications></app-notifications>
  </p-tabPanel>
</p-tabView>
<app-footer></app-footer>
<app-about-dialog
  [display]="aboutDialogVisible"
  (closeDialog)="handleCloseDialog()"></app-about-dialog>
