:host {
  .footer {
    position: fixed;
    bottom: 0;
    background-color: #2E4959;
    width: 100%;
    z-index: 102;
    height: 3rem;
    line-height: 3rem;
    vertical-align: middle;
    text-align: center;
    color: white;
  }
}
