@import '../variables';

.app-view {
  width: 100%;
  height: calc(100% - 5rem);

  &.full {
    height: 100%;
  }

  .container {
    display: flex;
    height: 100%;

    .menu {
      border-radius: 1rem;
      margin: 1rem;
      background-color: white;
      min-width: 11%;
      text-align: center;
      height: calc(100% - 5rem);
      box-shadow: 0 3px 5px #00000005, 0 0 2px #0000000d, 0 1px 4px #00000014;
    }

    .main-content {
      border-radius: 1rem;
      margin: 1rem;
      width: 100%;
      background-color: white;
      height: calc(100% - 5rem);
      box-shadow: 0 3px 5px #00000005, 0 0 2px #0000000d, 0 1px 4px #00000014;

      &.full {
        height: calc(100% - 2.5rem);
      }
    }
  }


  p-toolbar.main-toolbar {
    .p-toolbar {
      padding: 0.7rem;
      background-color: $color-primary;
      border-radius: 0;
      color: $color-primary-text;
    }

    .toolbar-button {
      color: $color-primary-text;
    }

    .toolbar-button:hover {
      color: $color-white !important;
    }
  }

}
