<p-toast position="bottom-center" key="registered-message" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column registered-message-wrapper">
      <div class="p-text-center">
        <i class="pi pi-info-circle registered-message-text"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6 mt-2">
          <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
        </div>
        <div class="p-col-6 mt-2">
          <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
<div class="register-page" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="50px">
  <p-toast position="top-right"></p-toast>
  <div class="blurred-box">
    <p-card>
      <p-header>
        <div class="logo-container" fxFlexAlign="center">
          <app-logo></app-logo>
        </div>
      </p-header>
      <app-user-input
        (onValuesSubmitted)="register($event)"
        buttonCaption="Register.Register"
      ></app-user-input>
      <p-footer>
        <hr class="footer-separator">
        <div class="register-title"><span
          class="app-name">{{ 'App.Title' | translate}}</span><span>Version: {{appVersion}}</span>
        </div>
      </p-footer>
    </p-card>
  </div>
</div>
