<div class="register-page" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="50px">
  <p-toast position="top-right"></p-toast>
  <div class="blurred-box">
    <p-card>
      <p-header>
        <div class="logo-container" fxFlexAlign="center">
          <app-logo></app-logo>
        </div>
      </p-header>
      <app-user-input
        (onValuesSubmitted)="register($event)"
        buttonCaption="Register.Register"
      ></app-user-input>
      <p-footer>
        <hr class="footer-separator">
        <div class="register-title"><span
          class="app-name">{{ 'App.Title' | translate}}</span><span>Version: {{appVersion}}</span>
        </div>
      </p-footer>
    </p-card>
  </div>
</div>
