.login-page {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image: url('../../../assets/images/tech.jpg');
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  border-radius: 1rem;
}


.logo-container {
  height: auto;
  width: 80px;
  margin: auto;
  padding-top: 20px;
}

.blurred-box {
  position: relative;
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;

  .login-title {
    font-size: 12px;
    display: flex;
    justify-content: space-between;

    .app-name {
      padding-right: 20px;
    }
  }

  .footer-separator {
    color: lightgrey;
  }

  .register-section {
    padding-top: 15px;
    text-align: center;
  }

  .register-button {
    width: 100%;
  }
}
