<p-toolbar styleClass="mb-4">
  <ng-template pTemplate="left">
    <button pButton pRipple
            label="{{'Subscriber.Expire' | translate}}"
            icon="pi pi-trash"
            class="p-button-danger p-button-outlined"
            (click)="expireSelectedSubscriber()"
            [disabled]="!selectedSubscriber || !selectedSubscriber.length"></button>
  </ng-template>
</p-toolbar>
<p-table [value]="subscribers" styleClass="p-datatable-striped" responsiveLayout="scroll"
         [(selection)]="selectedSubscriber">
  <ng-template pTemplate="header">
    <tr>
      <th class="table-header-checkbox">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th>{{'Subscriber.Token' | translate}}</th>
      <th>{{'Subscriber.UniqueId' | translate}}</th>
      <th>{{'Subscriber.LastUpdated' | translate}}</th>
      <th>{{'Subscriber.Expired' | translate}}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-subscriber>
    <tr>
      <td>
        <p-tableCheckbox [value]="subscriber"></p-tableCheckbox>
      </td>
      <td>{{subscriber.token}}</td>
      <td>{{subscriber.appIdentifier}}</td>
      <td>{{subscriber.lastUpdate}}</td>
      <td>{{subscriber.expired}}</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [(visible)]="notifySubscriberDialogVisible"
          [style]="{width: '450px'}"
          header="{{'Subscriber.Notify.Dialog.Header' | translate}}"
          [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="field">
      <label for="name">{{'Subscriber.Notify.Dialog.Title'}}</label>
      <input type="text" pInputText id="name" [(ngModel)]="notification.title" required autofocus/>
    </div>
    <div class="field">
      <label for="name">{{'Subscriber.Notify.Dialog.Message'}}</label>
      <input type="text" pInputText id="message" [(ngModel)]="notification.message" required autofocus/>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="{{'General.Cancel' | translate}}" icon="pi pi-times" class="p-button-outlined p-button-danger"
            (click)="closeDialog()"></button>
    <button pButton pRipple
            [disabled]="notification.title && notification.title.length <= 0 && notification.message && notification.message <= 0"
            label="{{'General.Save' | translate}}"
            icon="pi pi-check"
            class="p-button-outlined p-button-success"
            (click)="handleNotifySubscriber()"></button>
  </ng-template>
</p-dialog>

